{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Listado de Categorías{% endblock %}
{% block description %}Lista de todas las categorías disponibles{% endblock %}
{% block keywords %}categorías, productos{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}
<style>
  /* Estilo para la lista de categorías */
  ul.category-list {
    list-style: none;
    padding: 0;
  }

  ul.category-list li {
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de fuente deseado */
  }

  ul.category-list li a {
    text-decoration: none;
    color: #0000A0; /* Cambia este valor al color deseado */
  }

  ul.category-list li a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
  }
</style>
{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
  <body>
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <!-- Centra el título -->
          <div class="row g-4 g-md-3 align-items-center">
            <div class="col-md-8">
              <!-- Le da un salto de línea al título si es largo -->
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3" style="font-size: 78px; font-family: Lovelyn;">Categorías</h1>
                <ul class="category-list">
                  {% for category in categories %}
                    <li><a href="{% url 'main:edit_category' category.id %}">{{ category.name }}</a> - 
                      {{ category.description|truncatechars:40 }} <!-- Tamaño de la descripción -->
                    </li>
                  {% endfor %}
                </ul>
                <a href="{% url 'main:create_category' %}" class="btn btn-primary position-fixed bottom-0 end-0 m-3">Crear Nueva Categoría</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <!-- Ver cómo incorporar esto -->
  <!-- ================================
  End Content
  ================================== -->
{% endblock %}


